# aws-cli Profile to use
aws_profile = "default"

# tags to use on the AWS resources (default_tags)
aws_tags = {
     Owner          = "me"
     expirationDate = "2026-04-30"
     Purpose        = "DevTest"
}

# Prefix name that we prepend to the resource names
prefix = "my"

# route53 hosted zone
route53_zone_id   = "XXXXXXXXXXXXXXXXXXXXX"
route53_domain    = "example.com"
route53_subdomain = "demo"

# AWS EC2 instance type
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sev-snp.html
#  General purpose: m6a.large | m6a.xlarge | m6a.2xlarge | m6a.4xlarge | m6a.8xlarge
#  Compute optimized: c6a.large | c6a.xlarge | c6a.2xlarge | c6a.4xlarge | c6a.8xlarge | c6a.12xlarge | c6a.16xlarge
#  Memory optimized: r6a.large | r6a.xlarge | r6a.2xlarge | r6a.4xlarge
#aws_instance_type = "m6a.xlarge"
aws_instance_type = "m6a.large"

# AWS EC2 ami
# https://pint.suse.com/?resource=images&search=sles-15-sp7&state=active&csp=amazon&region=us-east-2
# sles sp4 ami (amazon/suse-sles-15-sp4-v20221216-hvm-ssd-x86_64)
#aws_ami = "ami-0c544bda9765444c2"
# sles sp6 ami (amazon/suse-sles-15-sp6-v20240808-hvm-ssd-x86_64)
#aws_ami = "ami-0371c70ae504994fd"
# sles sp7 ami (amazon/suse-sles-15-sp7-v20251022-hvm-ssd-x86_64)
aws_ami = "ami-097977f3e04e0f739"

# Number of instances
node_count = "1"

# AWS EC2 root instance volume size (in GB)
volume_size = "100"

# Existing AWS SSH key-pair name - https://docs.aws.amazon.com/console/ec2/key-pairs
aws_key_name = "awsme"

# ingress CIDRs
ip_cidr_me = "XX.XX.XX.XX/32"
ip_cidr_work = "YY.YY.YY.YY/32"

